---
description: {{ fragments[0].description }}
applyTo: [{% for path in fragments[0].scope_paths %}"{{ path }}"{% if not loop.last %}, {% endif %}{% endfor %}]
---

{{ header }}# {{ fragments[0].title }}

{{ fragments[0].body }}
